.sr-only {
  @mixin sr-only;
}

*:focus {
  outline: 1px dashed var(--color-white);
}

.visuallyhidden {
  display: none;
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media screen and (inverted-colors: inverted) {
  img {
    filter: invert(100%);
  }
}
