{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "@nuxtjs",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended",
    "prettier/vue"
  ],
  "plugins": ["prettier"],
  "rules": {
    "vue/component-name-in-template-casing": ["error", "kebab-case"],
    "vue/no-deprecated-slot-scope-attribute": 1
  }
}
