body {
  background: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}
header {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  font-family: sans-serif;
  align-items: center;
}

img {
  width: 50px;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

a {
  color: white;
}
#scrollable {
  overflow-y: scroll;
}

#videos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

iframe {
  border: none;
}
.video {
  margin: 2rem;
  width: 420px;
}

.location {
  color: #bbbbbb;
  font-family: sans-serif;
  margin-top: 1rem;
}

.description {
  color: #bbbbbb;
  font-family: sans-serif;
  margin-top: 1rem;
}

.content {
  margin-left: 1rem;
}

#primary-video {
  justify-content: center;
  display: flex;
  margin: 2rem 0;
}
