body {
  background: white;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}
header {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  font-family: sans-serif;
  align-items: center;
  padding-bottom: 1rem;
}

img {
  width: 50px;
}

header a {
  text-decoration: none;
}

h1 {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

a {
  color: #515151;
}
#scrollable {
  overflow-y: scroll;
}

#videos {
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

iframe {
  border: none;
}
.video {
  margin: 2rem;
  width: 420px;
}

h3 {
  display: flex;
  font-family: sans-serif;
}
.location {
  font-weight: normal;
}

.description {
  font-family: sans-serif;
  margin: 1rem 0;
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: #515151;
  text-transform: capitalize;
}

.content {
  margin-left: 1rem;
}

#primary-video {
  justify-content: center;
  display: flex;
  margin: 2rem 0;
}

.desktop #videos {
  display: flex;
}
.mobile {
  font-size: 18px;
}
.mobile #videos {
  display: block;
  width: 100%;
}

.mobile .video {
  margin: 4rem auto;
}

.mobile header h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.mobile h3 {
  font-size: 1rem;
}

.mobile .video {
  width: 80vw;
}

.mobile iframe {
  width: 80vw;
  height: calc(80vw * 0.75);
}

@media only screen and (max-width: 700px) {
  #videos {
    justify-content: center;
  }

  header img {
    display: none;
  }

  header h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 800) {
  #primary-video iframe {
    width: 80vw;
    height: calc(80vw * 0.75);
  }
}
