html {
  font-size: var(--font-size-base);
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-base);
}

p {
  hanging-punctuation: first;
  margin: 0 0 var(--spacing-s);
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  font-weight: var(--font-weight-normal);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
}

h3 {
  margin: var(--spacing-xs) 0 0;
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

h5 {
  font-size: 1rem;
  margin: 0;
}

.intro {
  max-width: 60ch;
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-lg);
}

blockquote {
  margin: 0 0 var(--spacing-xxs);
  font-weight: var(--font-weight-bold);
  font-size: 1.5em;
  line-height: var(--line-height-header);
}

cite {
  display: block;
  font-style: normal;
  color: var(--color-primary);

  &::before {
    content: '—';
    margin-left: var(--spacing-s);
  }
}
