:root {
  --container-width-xs: 18rem;
  --container-width-sm: 30rem;
  --container-width-md: 36rem;
  --container-width-lg: 52rem;
  --container-width-xlg: 72rem;
  --height-navigation-sm: var(--spacing-xl);
  --width-navigation-left: 20rem;
  --gutter: var(--spacing-m);

  @media (--navigation-position-left) {
    --gutter: var(--spacing-l);
  }
}
