:root {
  --container-width-xs: 18rem;
  --container-width-sm: 30rem;
  --container-width-md: 36rem;
  --container-width-lg: 52rem;
  --container-width-xlg: 72rem;
  --gutter: var(--spacing-s);

  @media (--viewport-sm) {
    --gutter: var(--spacing-m);
  }
}
