:root {
  --font-size-base: 16px;
  --font-family-base: 'Open Sans', sans-serif;
  --line-height-base: 1.5;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-family-header: 'Bungee', cursive;
  --line-height-header: 1.2;
  --font-size-sm: 0.75rem;
  --font-size-lg: 1.25rem;
}
